/*------------------- diseño del cuerpo -----------------------*/
body {
	/*margenes*/
	margin: 0;
	/*tipo de letra*/
	font-family: 'Abril Fatface', cursive;
	/*tamaño del fondo*/
	background-size: 100vw 100vh;
	/*para que no se repita el fondo*/
	background-attachment: fixed;
}



/*---------------- Diseño del fondo del video -----------------------*/
video{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
}

#icono{
	color: white;
}

center p{
	color: white;
}